
<md-sidenav-container class="sidebar">
  <md-sidenav #infonavbar #inf style="width:350px;height:auto;background:white;color:black;" mode="over" align="end">
    <div *ngIf="navinfo!=null">
      <md-list class="navlist">
        <h3 md-subheader>Information</h3>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">title</p>
          <h4 md-line>{{navinfo._title}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Status</p>
          <h4 *ngIf="!navinfo._verified == true" md-line>Waiting to get verified</h4>
          <h4 *ngIf="navinfo._verified == true" md-line>Verified</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Uploaded on</p>
          <h4 md-line>{{ getDate(navinfo._created_at)}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Place</p>
          <h4 md-line>{{navinfo._place}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Type</p>
          <h4 md-line>{{navinfo._type}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Event date</p>
          <h4 md-line>{{getDate(navinfo._event_time)}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Academic year</p>
          <h4 md-line>{{navinfo._year}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Domain</p>
          <h4 md-line>{{navinfo._domain}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Category</p>
          <h4 md-line>{{navinfo._category}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Sub category</p>
          <h4 md-line>{{navinfo._sub_cat}}</h4>
        </md-list-item>
        <md-list-item *ngIf="navinfo._has_error">
          <p md-line md-subheader style="height:auto;font-size:12px;color:red;">Error</p>
          <h4 md-line style="color:red;">{{navinfo._error_message}}</h4>
        </md-list-item>
      </md-list>
    </div>
  </md-sidenav>
  <md-sidenav opened="true" mode="side">
    <div class="sidebar-content">
      <md-list style="width: 320px;">
        <md-list-item>
          <button class="side-button" md-button>
            <md-icon>insert_drive_file</md-icon><span space>Documents</span>
          </button>
        </md-list-item>
        <md-list-item> 
          <button class="side-button" md-button (click)="openHelpDialog()">
            <md-icon>help</md-icon><span space>Help</span>
          </button>
        </md-list-item>
      </md-list>
      <md-list>
        <md-list-item style="display:flex;flex-direction:row-reverse;">
          <md-chip-list>
            <md-chip style="color: white;background: #586bd8;">me</md-chip>
            <md-chip style="color: white;background: #586bd8;"><a href="https://github.com/junaid1460" target="_blank">GitHub</a></md-chip>
            <md-chip style="color: white;background: #586bd8;"><a href="https://plus.google.com/u/0/102774614327026132791" target="_blank">Google+</a></md-chip>
          </md-chip-list>
        </md-list-item>
      </md-list>
    </div>
  </md-sidenav>
  <md-toolbar>
    <div style="width:100%;display:flex;justify-content:space-between;"><span>Certification portal for {{ username }}</span>
      <div>
        <button md-raised-button style="background:#e8e8e8;" (click)="logout()">logout</button>
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="openPasswordDialog()">
            <md-icon>mode_edit</md-icon><span> password</span>
          </button>
        </md-menu>
      </div>
    </div>
  </md-toolbar>
  <div>
    <md-list>
      <h3 md-subheader>Files</h3>
      <md-list-item class="doc" *ngFor="let file of documents" [style.background]="file._has_error?'#fb9f98':'auto'">
        <md-checkbox [disabled]="file._verified" md-list-icon style="margin-right:10px;" color="primary" (change)="selectFile($event, file.id)"></md-checkbox>
        <md-icon md-list-icon>insert_drive_file </md-icon>
        <div style="width:100%;">
          <h4 md-line>{{file._title}}</h4>
          <p md-line>Uploaded on {{ getDate(file._created_at) }}</p>
        </div>
        <div style="display:flex;align-items:center;">
          <md-chip-list style="margin:0 10px 0 0 ;">
            <ng-template [ngIf]="!file._verified == true">
              <md-chip>Unverified</md-chip>
            </ng-template>
            <ng-template [ngIf]="file._verified == true">
              <md-chip style="background:#4CAF50;color:white;">Verified</md-chip>
            </ng-template>
          </md-chip-list><a md-icon-button href="{{file._file}}" target="_blank">
            <md-icon md-list-icon sty>open_in_new</md-icon></a>
          <button [disabled]="file._verified" md-icon-button (click)="openDeleteDialog([file.id])">
            <md-icon md-list-icon>delete</md-icon>
          </button>
          <button md-icon-button (click)="showInfo(file)">
            <md-icon md-list-icon>info</md-icon>
          </button>
        </div>
      </md-list-item>
      <md-list-item *ngIf="documents.length == 0">
        <div style="display:flex;flex-direction:column;align-content: center;margin-top:100px;align-items: center;width: 100%;">
          <h1 style="width:100%;text-align:center;">Nothing to show</h1>
          <p>upload some documents</p>
        </div>
      </md-list-item>
      <div style="height:100px;"></div>
    </md-list>
  </div>
</md-sidenav-container>
<div class="float-fab" *ngIf="!inf.opened">
  <button md-fab *ngIf="delete_button" (click)="delete_selected()">
    <md-icon>delete</md-icon>
  </button>
  <button md-fab (click)="refresh()">
    <md-icon>refresh</md-icon>
  </button>
  <button md-fab (click)="openUploadDialog()">
    <md-icon>file_upload</md-icon>
  </button>
</div>