.sidebar{
    height: 100vh;
    
}
.sidebar-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    background: #3F51B5
}
.sidebar-content *{
    color: white
}
.side-button{
        width: 100%;
    text-align: left;
    height: 100%;
}
span[space]{
    margin-left: 10px
}
.float-fab{
    position: fixed;
    margin: 30px;
    right: 0;
    bottom: 0;
    
}
.float-fab button{
    background: #3f51b5
}
.doc:nth-child(even){
        background: #e8e8e8
   
}
.doc md-chip{
    background: #F44336;
    color:white
}

.doc .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background: #3f51b5
}
