
<h2 md-dialog-title>Help</h2>
<md-dialog-content>
  <h3>Certificate verification portal</h3>
  <p>Designed to upload and verify achievements of students. </p>
  <h3>How to use?</h3>
  <p>Upload the documents with proper informations and wait for the documents to get verified. You can delete the document if it is not verified. Once verified the Certificate can be downloaded by pressing the button available on top right of page</p>
</md-dialog-content>
<md-dialog-actions>
  <button md-button [md-dialog-close]="true">Close </button>
</md-dialog-actions>