h2(md-dialog-title) Help
md-dialog-content
    p RunKit notebooks are interactive javascript playgrounds connected to a complete node environment right in your browser. Every npm module pre-installed.
  
md-dialog-actions
    button(md-button , [md-dialog-close]="true") Close 