
<div style="width:70vw;">
  <h2 md-dialog-title>Help</h2>
  <md-dialog-content>
    <div class="helps"> 
      <md-card>
        <md-card-title>Uploading documents.</md-card-title>
        <md-card-content><span>click on </span>
          <button md-icon-button style="color: #ffffff;background: #3f51b5;">
            <md-icon>file_upload</md-icon>
          </button><span> button on the bottom-right corner of window.</span><span>This will open a dialog for uploading document.</span>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>change password</md-card-title>
        <md-card-content><span>click on </span>
          <button md-icon-button>
            <md-icon>more_vert</md-icon>
          </button><span> button on the bottom-right corner of window.</span><span>This will open a dialog to change you password.</span>
        </md-card-content>
      </md-card>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-button [md-dialog-close]="true">Close </button>
  </md-dialog-actions>
</div>