div(style="width:70vw")
    h2(md-dialog-title) Help
    md-dialog-content
        div(class="helps") 
            md-card
                md-card-title Uploading documents.
                md-card-content
                    span click on 
                    button(md-icon-button,style="color: #ffffff;background: #3f51b5;")
                        md-icon file_upload
                    span  button on the bottom-right corner of window.
                    span This will open a dialog for uploading document.
            md-card
                md-card-title change password
                md-card-content
                    span click on 
                    button(md-icon-button,)
                        md-icon more_vert
                    span  button on the bottom-right corner of window.
                    span This will open a dialog to change you password.

    
    md-dialog-actions
        button(md-button , [md-dialog-close]="true") Close 