
<div style="width:30vw;">
  <h4 md-dialog-title><span>Change password?</span></h4>
  <div>
    <md-list>
      <md-list-item>
        <md-input-container style="width:100%;">
          <input mdInput type="password" #cpass [(ngModel)]="current_password" placeholder="Current Password">
        </md-input-container>
      </md-list-item>
      <md-list-item>
        <md-input-container style="width:100%;">
          <input mdInput type="password" #npass [(ngModel)]="new_password" placeholder="New Password">
        </md-input-container>
      </md-list-item>
    </md-list>
  </div>
  <md-dialog-actions>
    <button md-raised-button md-dialog-close> <span>cancel</span></button>
    <button md-raised-button color="primary" (click)="changePass()"> <span>change password</span></button>
  </md-dialog-actions>
</div>