h2(md-dialog-title) Upload new Document?
md-dialog-content
    md-list
        md-list-item
            md-input-container(style="width:100%")
                input(mdInput, placeholder="Title",[(ngModel)] = "_title", #title, [formControl] = "required")
                md-error(*ngIf="required.hasError('required')") Title is required
        md-list-item
            input( type="file", style="width:100%", #file)
            br
        md-list-item
            md-select(placeholder="Year", [(ngModel)] = "year", [formControl] = "yrequired")
                md-option([value]= "1") 1st Year
                md-option([value]= "2") 2nd Year
                md-option([value]= "3") 3rd Year
                md-option([value]= "4") 4th Year
            br
            md-error(*ngIf="yrequired.hasError('required')", style="padding-left:10px")   Select year of doc
  
md-dialog-actions
    button(md-button,md-dialog-close) Cancel
    button(md-button,(click) = "upload()") Upload
md-progress-bar(*ngIf="uploading",mode="indeterminate")