div(style="width:40vw")
    h2(md-dialog-title) Upload new Document?
    md-dialog-content
        md-list(class="ulist")
            md-list-item(class="pad")
                md-input-container(style="width:100%")
                    input(mdInput, placeholder="Title",[(ngModel)] = "_title", #title, [formControl] = "required")
                    md-error(*ngIf="required.hasError('required')") Title is required
            md-list-item(class="pad")
                md-input-container(style="width:100%")
                    input(mdInput, placeholder="Location/place",[(ngModel)] = "_place", #place, [formControl] = "prequired")
                    md-error(*ngIf="prequired.hasError('required')")  Event location is required
        
            md-list-item
                input( type="file", style="width:100%", #file)
            md-list-item
                md-select(placeholder="Domain", [(ngModel)] = "_domain", [formControl] = "drequired")
                    md-option(value= "Local") Local
                    md-option(value= "National") National
                    md-option(value= "International") International
                br
                md-error(*ngIf="drequired.hasError('required')", style="padding-left:10px")   Select domain please
            md-list-item
                md-select(placeholder="Category", [(ngModel)] = "_cat", [formControl] = "crequired")
                    md-option(value= "Academic") Academic
                    md-option(value= "Cultural") Cultural
                    md-option(value= "Technical") Technical
                    md-option(value= "Sports") Sport
                    md-option(value= "Other") Other
                    
                br
                md-error(*ngIf="crequired.hasError('required')", style="padding-left:10px")   Select Category please
            md-list-item
                md-input-container(style="width:100%")
                    input(mdInput,[mdDatepicker]="picker", placeholder="Choose a date",[(ngModel)] = "_date", #_year_of_doc, [formControl] = "yorequired")
                    md-error(*ngIf="yorequired.hasError('required')") Date is required
                    button( mdSuffix ,[mdDatepickerToggle]="picker")
                md-datepicker(#picker)
            md-list-item
                md-select(placeholder="Year", [(ngModel)] = "year", [formControl] = "yrequired")
                    md-option([value]= "1") 1st Year
                    md-option([value]= "2") 2nd Year
                    md-option([value]= "3") 3rd Year
                    md-option([value]= "4") 4th Year
                br
                md-error(*ngIf="yrequired.hasError('required')", style="padding-left:10px") Select Academic year 
    
    md-dialog-actions
        button(md-button,[md-dialog-close]="false") Cancel
        button(md-button,(click) = "upload()") Upload
    md-progress-bar(*ngIf="uploading",mode="indeterminate")