div(style="width:71vw")
    h2(md-dialog-title) Upload new Document?
    md-dialog-content(class="xcontent",style="display:flex;flex-direction:row;height:73vh;max-height:100vh;justify-content:space-around")
        md-list(class="ulist")
            div(class="document")
                p(md-subheader,style="") Scanned document
                input( type="file", style="width:100%", #file)
            div
                
                md-radio-group([(ngModel)]="_type")
                    p(md-subheader,style="") What kind of file is this?
                    md-radio-button(style="margin:10px",*ngFor = "let e of doc_types", [value]= "e[0]", [checked]="e[0] == 1") {{e[1]}}
            div
                md-input-container(style="width:100%")
                    input(mdInput, placeholder="What is the event name?",[(ngModel)] = "_title", #title, [formControl] = "required")
                    md-error(*ngIf="required.hasError('required')") Title is required
            div
                md-input-container(style="width:100%")
                    input(mdInput, placeholder="Where event held?",[(ngModel)] = "_place", #place, [formControl] = "prequired")
                    md-error(*ngIf="prequired.hasError('required')")  Event location is required
        
            
            div
                md-input-container(style="width:100%")
                    input(mdInput,[mdDatepicker]="picker", placeholder="When? DD/MM/YYYY",[(ngModel)] = "_date", #_year_of_doc, [formControl] = "yorequired")
                    md-error(*ngIf="yorequired.hasError('required')") Date is required
                    button( mdSuffix ,[mdDatepickerToggle]="picker")
                md-datepicker(#picker)
        md-list
            div
                //- academic years
                p(md-subheader) Academic year
                md-radio-group(class="form-radio-group", [(ngModel)]="_year")
                    md-radio-button(*ngFor="let e of doc_years", [value] = "e[0]") {{e[1]}}
                
                //- br
            div
                //- domains
                p(md-subheader) Domain
                md-radio-group(class="form-radio-group", [(ngModel)]="_domain")
                    md-radio-button(*ngFor="let e of doc_domains", [value] = "e[0]",[checked]="e[0] == 0") {{e[1]}}
            
                    
                //- br
                //- md-error(*ngIf="crequired.hasError('required')", style="padding-left:10px")   Select Category please
        md-list
            div(style="margin-top:-10px")
                p(md-subheader) Category
                md-radio-group(class="form-radio-group", [(ngModel)]="_cat")
                    div(*ngFor="let e of doc_cats")
                        md-radio-button(#temp, [value] = "e[0]") {{e[1]}}
                        ng-template([ngIf]="doc_subs[e[0]].length>0")
                            br
                            md-radio-group(style="margin-left:20px",class="form-radio-group",[disabled]="!temp.checked",[(ngModel)]="_sub_cats[e[0]]")
                                md-radio-button(*ngFor="let t of doc_subs[e[0]]", [value] = "t[0]") {{t[1]}}
                        
                //- br
                //- br
                //- md-error(*ngIf="yrequired.hasError('required')", style="padding-left:10px") Select Academic year 
    
    md-dialog-actions
        button(md-button,[md-dialog-close]="false") Cancel
        button(md-button,(click) = "upload()") Upload
    md-progress-bar(*ngIf="uploading",mode="indeterminate")