
<md-sidenav-container style="height:100vh;">
  <md-sidenav #infonavbar #inf style="width:350px;height:auto;background:white;color:black;" mode="over" align="end">
    <div *ngIf="navinfo!=null">
      <md-list class="navlist">
        <h3 md-subheader>Information</h3>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">title</p>
          <h4 md-line>{{navinfo._title}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Status</p>
          <h4 *ngIf="!navinfo._verified == true" md-line>Waiting to get verified</h4>
          <h4 *ngIf="navinfo._verified == true" md-line>Verified</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Uploaded on</p>
          <h4 md-line>{{ getDate(navinfo._created_at)}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Academic year</p>
          <h4 md-line>{{navinfo._year}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Domain</p>
          <h4 md-line>{{navinfo._domain}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Category</p>
          <h4 md-line>{{navinfo._category}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Actions</p><a md-button href="{{navinfo._file}}" mdTooltip="Open" target="_blank" style="margin-right:10px;">open
            <md-icon md-icon>open_in_new</md-icon></a>
          <button md-button (click)="verify(navinfo.id)" mdTooltip="Verify">Verify
            <md-icon md-icon>check_circle</md-icon>
          </button>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Error Notifications</p>
          <button md-button (click)="setMessage(navinfo)" mdTooltip="Verify">Notify
            <md-icon md-icon>error</md-icon>
          </button>
        </md-list-item>
        <md-list-item *ngIf="navinfo._has_error">
          <p md-line md-subheader style="height:auto;font-size:12px;color:red;">Error</p>
          <h4 md-line style="color:red;">{{navinfo._error_message}}</h4>
        </md-list-item>
      </md-list>
    </div>
  </md-sidenav>
  <md-sidenav class="sidenav" opened="true" mode="side">
    <md-nav-list class="stdlist">
      <h4 md-subheader style="margin-bottom:20px;">Students<span style="margin:0 0 0 10px;">|</span>
        <button md-button (click)="refreshStudents()">refresh
          <md-icon>refresh</md-icon>
        </button><span style="margin:0 0 0 4px;">|</span>
        <button md-button (click)="logout()">logout
          <md-icon>exit_to_app</md-icon>
        </button>
      </h4>
      <md-list-item *ngFor="let student of students" (click)="setStudent(student)">
        <md-icon style="font-size:25pt;margin-right:20px;">account_circle</md-icon>
        <div style="width:100%;">
          <h4 md-line>{{student.username}}</h4>
          <p md-line>{{student.first_name}} {{student.last_name}}</p>
        </div>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar>
    <div style="width:100%;display:flex;justify-content:space-between;"><span>Certification Verification</span>
      <div>
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="openPasswordDialog()">
            <md-icon>mode_edit</md-icon><span> password</span>
          </button>
        </md-menu>
      </div>
    </div>
  </md-toolbar>
  <md-card *ngIf="c_stud != null" style="margin:12px;">
    <md-card-header>
      <md-card-title>{{c_stud.username}}</md-card-title>
      <md-card-subtitle>{{c_stud.first_name}} {{c_stud.last_name}}</md-card-subtitle>
    </md-card-header>
  </md-card>
  <md-list class="dc">
    <h3 md-subheader>Files</h3>
    <md-list-item class="doc" *ngFor="let file of documents">
      <md-checkbox style="margin-right:10px;" color="primary" (change)="check($event, file.id)"></md-checkbox>
      <div style="width:100%;">
        <h4 md-line>{{file._title}}</h4>
        <p md-line>{{ getDate(file._created_at) }}</p>
      </div>
      <div style="display:flex;align-items:center;">
        <md-chip-list style="margin:0 10px 0 0 ;">
          <ng-template [ngIf]="!file._verified == true">
            <md-chip style="background:#f44336;color:white;">Unverified</md-chip>
          </ng-template>
          <ng-template [ngIf]="file._verified == true">
            <md-chip style="background:#4CAF50;color:white;">Verified</md-chip>
          </ng-template>
        </md-chip-list><a md-icon-button href="{{file._file}}" mdTooltip="Open" target="_blank" style="margin-right:10px;">
          <md-icon md-icon>open_in_new</md-icon></a>
        <button md-icon-button (click)="verify(file.id)" mdTooltip="Verify">
          <md-icon md-icon>check_circle</md-icon>
        </button>
        <button md-icon-button (click)="showInfo(file)" mdTooltip="Information">
          <md-icon md-icon>info</md-icon>
        </button>
      </div>
    </md-list-item>
    <md-list-item *ngIf="documents.length == 0">
      <div style="display:flex;flex-direction:column;align-content: center;margin-top:100px;align-items: center;width: 100%;">
        <h1 style="width:100%;text-align:center;">Nothing to show</h1>
        <p>upload some documents</p>
      </div>
    </md-list-item>
    <div style="height:100px;"></div>
  </md-list>
</md-sidenav-container>
<div *ngIf="!infonavbar.opened" style="position:fixed;bottom:0;right:0;margin:30px;">
  <button class="primary pback" md-fab *ngIf="verify_button" (click)="confirm_verify(checked)" mdTooltip="Verify" mdTooltipPosition="above">
    <md-icon md-icon>done</md-icon>
  </button>
  <button class="primary pback" *ngIf="documents.length &gt; 0" md-fab (click)="refresh()" mdTooltip="Refresh" mdTooltipPosition="above">
    <md-icon md-icon>refresh</md-icon>
  </button>
  <button class="primary pback" md-fab (click)="logout()" mdTooltip="Logout" mdTooltipPosition="above"> 
    <md-icon>exit_to_app</md-icon>
  </button>
</div>