.sidenav{
    height: 100vh;
    width: 400px;
    background: white
}
.primary{
    background: #3f51b5
}
.pback{
    color:white
}


.dc md-list-item.doc:nth-child(even){
    background: #e0e0e0
}

.navlist md-list-item:nth-child(even){
    background: #e0e0e0
}