
<md-sidenav-container class="sidenav">
  <md-sidenav #infonavbar #inf style="width:350px;height:auto;background:white;color:black;" mode="over" align="end">
    <div *ngIf="navinfo!=null">
      <md-list class="navlist">
        <h3 md-subheader>Information</h3>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Student</p>
          <h4 md-line>{{navinfo._user.user.username}}, {{navinfo._user.user.first_name }} {{navinfo._user.user.last_name }} </h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">title</p>
          <h4 md-line>{{navinfo._title}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Status</p>
          <h4 *ngIf="!navinfo._verified == true" md-line>Waiting to get verified</h4>
          <h4 *ngIf="navinfo._verified == true" md-line>Verified</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Uploaded on</p>
          <h4 md-line>{{ getDate(navinfo._created_at)}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Academic year</p>
          <h4 md-line>{{navinfo._year}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Domain</p>
          <h4 md-line>{{navinfo._domain}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Category</p>
          <h4 md-line>{{navinfo._category}}</h4>
        </md-list-item>
        <md-list-item>
          <p md-line md-subheader style="height:auto;font-size:12px;">Place</p>
          <h4 md-line>{{navinfo._place}}</h4>
        </md-list-item>
      </md-list>
    </div>
  </md-sidenav>
  <md-toolbar><span>Stats</span></md-toolbar>
  <md-sidenav class="options" mode="side" opened="true" style="width:400px;">
    <md-list class="filters">
      <li>
        <md-input-container style="width:100%;">
          <input mdInput [(ngModel)]="val" placeholder="search" (keydown)="check($event)">
          <button mdSuffix md-icon-button (click)="search()">
            <md-icon>search</md-icon>
          </button>
          <button mdSuffix md-icon-button (click)="addVal()">
            <md-icon>add</md-icon>
          </button>
        </md-input-container>
      </li>
      <li>
        <p md-subheader>And Domain</p>
        <ul class="filter-options">
          <li *ngFor="let d of domain_list">
            <md-checkbox (change)="addDomain($event, d)" color="primary">{{d}}</md-checkbox>
          </li>
        </ul>
      </li>
      <li>
        <p md-subheader>And Category</p>
        <ul class="filter-options">
          <li *ngFor="let c of cat_list">
            <md-checkbox (change)="addCategory($event, c)" color="primary">{{c}}</md-checkbox>
          </li>
        </ul>
      </li>
      <li>
        <p md-subheader>And Academic Year</p>
        <ul class="filter-options">
          <li *ngFor="let y of year_list">
            <md-checkbox (change)="addYear($event,y[1])" color="primary">{{y[0]}}</md-checkbox>
          </li>
        </ul>
      </li>
    </md-list>
  </md-sidenav>
  <md-card class="searches" style="margin:10px;">
    <md-card-title> 
      <p md-subheader>Keywords :</p>
    </md-card-title>
    <button md-raised-button *ngIf="usns.size == 0 &amp;&amp; years.size == 0"><span>all</span></button>
    <button md-raised-button *ngFor="let usn of usns" (click)="usns.delete(usn)"><span>{{ usn }}</span>
      <md-icon>close</md-icon>
    </button>
    <button md-raised-button *ngFor="let year of years" color="primary" (click)="years.delete(year)"><span>{{ year }}</span>
      <md-icon>close </md-icon>
    </button>
    <md-card-actions style="display:flex;flex-direction:row-reverse;">
      <button md-button (click)="clear()">clear all searches  </button>
      <button md-button (click)="search()">search
        <md-icon>search</md-icon>
      </button>
    </md-card-actions>
  </md-card>
  <md-list class="dc">
    <h4 md-subheader>Files </h4>
    <h3 md-subheader>Total results : {{ count }}</h3>
    <md-list-item class="doc" *ngFor="let file of docs">
      <md-icon md-list-icon>insert_drive_file</md-icon>
      <div style="width:100%;">
        <h4 md-line>{{file._title}}</h4>
        <p md-line>{{ getDate(file._created_at) }}</p>
      </div>
      <div style="display:flex;align-items:center;">
        <md-chip-list style="margin:0 10px 0 0 ;">
          <ng-template [ngIf]="!file._verified == true">
            <md-chip style="background:#f44336;color:white;">Unverified</md-chip>
          </ng-template>
          <ng-template [ngIf]="file._verified == true">
            <md-chip style="background:#4CAF50;color:white;">Verified</md-chip>
          </ng-template>
        </md-chip-list>
      </div><a md-icon-button href="{{file._file}}" mdTooltip="Open" target="_blank" style="margin-right:10px;">
        <md-icon md-icon>open_in_new</md-icon></a>
      <button md-icon-button (click)="showInfo(file)" mdTooltip="Information">
        <md-icon md-icon>info</md-icon>
      </button>
    </md-list-item>
    <md-list-item *ngIf="docs.length == 0">
      <div style="display:flex;flex-direction:column;align-content: center;margin-top:100px;align-items: center;width: 100%;">
        <h1 style="width:100%;text-align:center;">Nothing to show</h1>
        <p>upload some documents</p>
      </div>
    </md-list-item>
    <div style="display:flex;justify-content:center;">
      <button md-raised-button *ngIf="nextpage != null" (click)="loadMore(nextpage)">load more
        <md-icon>cloud_download</md-icon>
      </button>
    </div>
    <div style="height:100px;"></div>
  </md-list>
</md-sidenav-container>