.sidenav{
    height:100vh;
    width:100vw;
}
.options{
    width:350px;
  
}
.options md-list md-list-item *{
    color:white;
}
.mat-select-trigger{
    background: white
}
.filters{
    margin:33px;
    list-style:none;
}
.filter-options{
    list-style:none;
    margin:10px;
}
.searches button{
    margin: 2px
}

.dc{
    display: flex;
    flex-direction: column;
    padding: 10px
}
.dc .doc:nth-child(even){
    background: #e0e0e0
    
}


.dc .doc{
    background: white;
    margin: 0 5px;
 
    max-width: 900px;
    width:100%;
    align-self: center;
}
md-input-container label {
  color: white
}

/* When the input is focused */
label.mat-input-placeholder {
  color: white
}