md-toolbar
    button(md-icon-button, (click)="goback()")
        md-icon arrow_back
    span {{user}}

div(class="content-main")
    md-list(class="dc")
        h4(md-subheader) Files 
        h3(md-subheader) Total results : {{ count }}
        
        md-list-item(*ngFor="let file of docs",class="doc")
            md-icon(md-list-icon) insert_drive_file
            //- md-icon(md-list-icon) insert_drive_file
            div(style="margin-left:10px;width:100%")
                h4(md-line) {{file._title}}
                p(md-line) {{ getDate(file._created_at) }}
        
            div(style="display:flex;align-items:center")
                md-chip-list(style="margin:0 10px 0 0 ")
                    ng-template([ngIf]="!file._verified == true")
                        md-chip(style="background:#f44336;color:white") Unverified
                    ng-template([ngIf]="file._verified == true")
                        md-chip(style="background:#4CAF50;color:white") Verified
          
            
            a(md-icon-button, href="{{file._file}}", mdTooltip="Open", target="_blank",style="margin-right:10px")
                md-icon(md-icon) open_in_new
          
            button(md-icon-button, (click) = "showInfo(file)",  mdTooltip="Information")
                md-icon(md-icon) info
